database_url: postgres://mitra:mitra@127.0.0.1:55432/mitra
storage_dir: files
web_client_dir: null

http_host: '127.0.0.1'
http_port: 8380

instance_uri: http://127.0.0.1:8380

instance_title: Mitra
instance_short_description: My instance
instance_description: My instance

registration:
  type: open

ipfs_api_url: 'http://127.0.0.1:5001'
ipfs_gateway_url: 'http://127.0.0.1:8001'
