database_url: postgres://mitra:mitra@127.0.0.1:55432/mitra
storage_dir: files

http_host: '127.0.0.1'
http_port: 8380

# domain name
instance_uri: myserver.net
instance_title: myserver
instance_short_description: my fedi instance
# Long description can contain markdown syntax
instance_description: my fedi instance
# RSA private key can be generated with `mitractl generate-rsa-key`
instance_rsa_key: null
registrations_open: false
# Login message must contain instance URL
login_message: 'Sign this message to log in to https://myserver.net. Do not sign this message on other sites!'

# To disable blockchain integration, set `blockchain` to `null`
blockchain:
  # CAIP-2 chain ID (https://github.com/ChainAgnostic/CAIPs/blob/master/CAIPs/caip-2.md)
  chain_id: eip155:31337
  contract_address: '0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9'
  contract_dir: contracts
  api_url: 'http://127.0.0.1:8545'
  # Block explorer base URL (should be compatible with https://eips.ethereum.org/EIPS/eip-3091)
  explorer_url: null
  # Instance private key
  signing_key: null

ipfs_api_url: 'http://127.0.0.1:5001'
# IPFS gateway for clients
ipfs_gateway_url: 'https://ipfs.io'
